body {
  margin: 50px 0 0;
  font-family: sans-serif;
  color: #FFFFFF;
  background-color: #252525;
}

.newtButton {
  background-color: #992F05;
  border: none;
  color: white;
  margin: 5px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.newtButton:hover {
  color: #992F05;
  background-color: white;
  box-shadow: 0 0 5px black;
}

.newtButton:focus {
  color: #992F05;
  background-color: #252525;
}

.newtButtonDark {
  background-color: #252525;
  border: none;
  color: white;
  margin: 5px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.newtButtonDark:hover {
  box-shadow: 0 0 5px black;
}

.newtButtonDark:focus {
  background-color: black;
}

.newtTextInput {
  margin: 4px;
  padding: 8px;
  border: none;
}

.newtTextInput:hover {
  box-shadow: 0 0 5px black;
}

nav {
  position: fixed;
  top: 0;
  margin: 0;
  background-color: #992F05;
  height: 50px;
  width: 100%;
  box-shadow: 0 -2px 25px black;
}

.navLinks {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.navLink {
  margin: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 4px;
  border-radius: 10px;
}

.navLink:hover {
  background-color: #FFFFFF;
  color: #992F05;
  cursor: pointer;
  box-shadow: 0 0 5px black;
}

.navLogo {
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30%;
}

.navUserPhoto {
  width: 35px;
  height: 35px;
  position: absolute;
  background-color: #FFFFFF;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
  border-radius: 50%;
}

.navUserPhoto:hover {
  box-shadow: 0 0 5px black;
}

.mainContainer {
  z-index: -1;
  width: 100%;
  max-width: 1500px;
  background-color: #252525;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-height: 80%;
}

.loginMain {
  margin: -50px 0 0;
  height: 100vh;
  background-image: linear-gradient(to bottom, #0c2104, #1c0f07);
}

.loginBackground {
  background-image: linear-gradient(to bottom right, red, yellow);
}

.loginSideDiv {
  background-color: #992F05;
  height: 400px;
  width: 400px;
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 0 25px black;
}

.loginSideContent {
  position: absolute;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.loginSideChildren {

}

.loginLogo {
  width: 40px;
  height: 40px;
}

.loginLink {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 4px;
  border-radius: 10px;
}

.loginLink:hover {
  background-color: #FFFFFF;
  color: #992F05;
  cursor: pointer;
  box-shadow: 0 0 5px black;
}